Estilos de juegagolff




header{

color: rgb(255, 255, 255);
background-color: rgb(5, 218, 5);
font-size: 300%;
font-style: normal;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
color: rgb(255, 255, 255);
background-color: rgb(5, 218, 5);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-style: normal;
font-size: 200%;

}
#Apart{
    color: rgb(255, 255, 255);
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    border:3px solid black;
}
#Cong{
    color: rgb(255, 255, 255);
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}
#Marg{
    color: rgb(255, 255, 255);
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}
#Norg{
    color: rgb(255, 255, 255);
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}
#contenidos{
    font-size:x-large ;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(5, 218, 5);
    color: rgb(255, 255, 255);
    border:3px solid black;
}
#for1{
    background-color: rgb(5,218, 5);
    color: rgb(255, 255, 255);
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}




